# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
venv/
env/

# Streamlit e Segredos
.streamlit/secrets.toml
tasks.json

# Ignorar ficheiros do VS Code
.vscode/

# Ignorar ficheiros do sistema operacional
.DS_Store
Thumbs.db